@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.main-page {
    font-family: "Work Sans", sans-serif;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/SK-en-20240909-TRIFECTA-perspective_ab797d22-ac0f-4dd7-9f52-9b903282bc72_large.jpg');
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}

.main-page-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align: center;
    z-index: 1;
    height: 40%;
    width: 35%;
}
.main-page-content h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
    font-weight: 700;
}
.main-page-content button {
    border: none;
    background-color: rgb(229, 9, 20);
    color: white;
    max-height: 14.5%;
    max-width: 31.5%;
    height: 14.5%;
    width: 31.5%;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4rem;
    transition: 0.3s;
}
.main-page-content button:hover {
    background-color: rgb(193, 17, 25);
    color: white;
}
.main-page-content input {
    border: none;
    border: grey 1px solid;
    background-color: #0000003f;
    height: 13%;
    width:65%;
    border-radius: 0.25rem;
}
.main-page-content input::placeholder {
    font-size: 1rem;
    padding-left: 0.5rem;
    font-weight: 700;
}